<nav>
    <span>
        <a [routerLink]="['/', company]" routerLinkActive="router-link-active">Home</a>
      </span>
  <span>
    <a [routerLink]="['/', company, 'admin', 'placegroup']" routerLinkActive="router-link-active">Place Group</a>
  </span>
  <span>
    <a [routerLink]="['/', company, 'admin', 'place']" routerLinkActive="router-link-active">Place</a>
  </span>
  <span>
    <a [routerLink]="['/', company, 'admin', 'user']" routerLinkActive="router-link-active">User</a>
  </span>
  <span>
    <a [routerLink]="['/', company, 'admin', 'mysubscription']" routerLinkActive="router-link-active">My Subscription</a>
  </span>
</nav>