<mat-toolbar color="primary">
  <mat-toolbar-row>
  <a mat-button [routerLink]="['/']" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact:
    true}">
    Meeting room scheduling
  </a>
  <span class="fill-remaining-space"></span>
  <span>
      <a mat-button [routerLink]="['/contact']" routerLinkActive="mat-accent">Contact</a>
      <a mat-button [routerLink]="['/about']" routerLinkActive="mat-accent">About</a>
      <a mat-button [routerLink]="['/subscribe']" routerLinkActive="mat-accent">Subscribe</a>
  </span>
</mat-toolbar-row>
</mat-toolbar>